{% extends 'pwII/base.html' %}

 {% block content %}
 
<h2>Historico</h2>         

<table class="table table-striped table-sm">
    <thead>
      <tr>                 
        <th>Data</th>
        <th>Horário</th>
        <th>Valor</th>
        <th>Procedimento</th>
        <th>Dentista</th>
        <th>Situação</th>
        <th>Excluir</th>
        
      </tr>
    </thead>

    {% for consult in consulta %}
    <tbody>
      <tr>
        <td>{{consult.dataConsulta}}</td>
        <td>{{consult.horaConsulta}}</td>
        <td>{{consult.procedimento.valor}}</td>
        <td>{{consult.procedimento}}</td>
        <td>{{consult.dentista}}</td>

        
        
        
    
        {% if consult.atendida == "1" %}               
        <td><button style="width: 130px;" class="btn btn-success">Atendido</button></td>     
        <td><a href="{% url 'excluir_historico' pk=consult.pk %}"><button style="width: 130px;" class="btn btn-danger">Excluir</button></a></td>
        {% endif %}

        
        {% if consult.atendida == "2" %}
        <td><button style="width: 130px;" class="btn btn-primary">Aberto</button></td>   
        <td><button disabled style="width: 130px;" class="btn btn-danger">Excluir</button></td>
        {% endif %}
              
      
                      
        {% if consult.atendida == "3" %}
        <td><button style="width: 130px;" class="btn btn-danger">Cancelado</button></td>
        <td><a href="{% url 'excluir_historico' pk=consult.pk  %}"><button style="width: 130px;" class="btn btn-danger">Excluir</button></a></td>
        {% endif %}
       
                    
      </tr>                
    </tbody>
    {% endfor %}

    



  </table>
{% endblock %}